@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #7e5858;
    margin: 0px;
    padding: 0px;
}
h1{ font-family: 'Fenix';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 15vh;
    background-color: #7e5858;
    letter-spacing: 1.2px;
    font-size: 3em;
}
.main{
    background-color: yellow;
    width: 100vw;
    margin: 0px auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling the first container  */
#user-input{ 
    padding: 15px;
    text-align: center;
    align-items: center;
}
#user-selects >p{
    font-size: 20pt;
    font-weight: 600;
    margin: 0%;
    padding: 5px;
    display: inline-block;
}
#round-nbr{
    width: 50px;
    height: 25px;
    padding: 5px;
    font-size: 20px;
    display: inline;
    margin: 0px auto 5px auto;
    border-radius: 4px;
}
.btn{
    border-radius: 3px;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
    background-color: yellowgreen;
}

/* Styling the second container  */
#score-display{ 
    border-radius: 5px;
    box-shadow: 2px 2px 20px gray;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    width: 300px;
    gap: 20px;
}
.name{
    border-bottom: 1px solid rgb(158, 151, 151);
}
#player{
    color:rgb(9, 9, 187);
}
#computer{
    color: rgba(106, 0, 228, 0.72);
}
.score{
    align-items: center;
    justify-self: center;
    font-weight: bold;
    font-size: 28px;
}
#display-result{
    height: 155px;
    font-size: 24px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 4px auto;
    background-color: white;
    width: 400px;
    color: white;
    display: flex;
}
.anim-player{
    animation: moveLeftToRight 2s linear forwards;
}
.anim-computer{
    animation: moveRightToLeft 2s linear forwards;
}
@keyframes moveLeftToRight {
    0%{
        transform: translate(-100px);
    }
    100%{
        transform: translate(0px);
    }
}
@keyframes moveRightToLeft{
    0%{
        transform: translate(100px);
    }
    100%{
        transform: translate(0px);
    }
}
#winner{
    text-align: center;
    justify-content: center;
}

footer{
    display: flex;
    font-size: 20px;
    background-color: #524f4f;
    color: #ffff;
    justify-content: center;
    align-items: center;
}
footer >a{
    text-decoration: none;
    background-color: #524f4f;
}
#github-logo{
    background-color: white;
    transition: transform 0.3s;
}
#github-logo:hover{
    transform: rotate(360deg);
    
}